.header__icon{
    object-fit: contain;
    height: 100px;
    margin-left:20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100;
    border: 0.5px solid lightgray;
}

.header__center{
    display: flex;
    align-items: center;
    flex: 1;
    max-width:fit-content;
    padding: 10px;
    height: 30px;
    /* border: 1px solid lightgray; */
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header__center input{
    border: none;
    padding: 10px;
    outline-width: 0;
    width: 250px;
}

.header__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}
